<div class="cards-container change-password-forum-container">

    <div class="change-password-forum cards-list">

        <h1 #cardsContainer>
            <img src="assets/padlock.png" width="64px" />
            Change your passowrd
        </h1>

        <div class="change-password-forum-main">
            
            <div class="forum-div">
                <label class="forum-label"> Old Password </label>
                <input class="forum-input" type="password" placeholder="*********" />
            </div>
            
            <div class="forum-div">
                <label class="forum-label"> New Password </label>
                <input class="forum-input" type="password" placeholder="*********" />
            </div>

            <div class="forum-div">
                <label class="forum-label"> Confirm New Password </label>
                <input class="forum-input" type="password" placeholder="*********" />
            </div>

            <div class="forum-div">
               <button class="btn btn-positive change-password-button"> Submit </button>
            </div>

        </div>


    </div>

</div>