.change-password-forum-container {
    height: 100vh;
}

.change-password-forum {
    height: auto;
}

.change-password-forum-main {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forum-div {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.forum-label {
    font-weight: bold;
    font-size: x-large;
}

.forum-input {
    font-size: larger;
    border-radius: 8px;
    border: 1px solid rgb(151, 151, 151);
    padding: 4px;
}

.change-password-button {
    width: 100%;
    max-width: 300px;
    margin: auto;
}