<div class="card parking-card "
    [ngClass]="{
        'card-visible': visible
    }">
    <img class="parking-card-icon" src="assets/parking.png" />

    <div class="parking-card-info">
        <h2 class="parking-card-name"> Parking's name </h2>
        <a class="parking-card-location"> Marrakech </a>
    </div>

    <div class="parking-card-right">
        <img class="parking-card-collection "
        [ngClass]="{
            'parking-card-collection-click': isCollectionButtonAnimated
        }"
        (click)="onCollectionClick()"
        [src]="inCollection? 'assets/heart.png': 'assets/heart-empty.png'"/>
        <div class="parking-card-buttons">
            <button class="parking-card-more"> About </button>
            <button class="btn btn-positive parking-card-buy"> Purchase </button>
        </div>
    </div>
    
</div>
