<div class="navbar-account">
	<img class="navbar-account-icon " [ngClass]="{
		'navbar-account-icon-active': active
	}"
	src="assets/user.png" 
	(click)="onIconClicked()" />


	<div class="navbar-account-details " [ngClass]="{
		'navbar-account-details-active': active
	}">

		<div class="navbar-account-details-div">
			<img 
			class="navbar-account-details-icon"
			src="assets/user.png"/>
			<h2> username </h2>
		</div>

		<div class="navbar-account-details-div">
			<a class="navbar-account-button" href="/"> 
				<img src="assets/padlock.png" class="navbar-account-button-icon"/>
				Change My Password 
			</a>
			<a class="navbar-account-button" href="/"> 
				<img src="assets/logout.png" class="navbar-account-button-icon"/>
				Logout 
			</a>
		</div>
	</div>
</div>

