<div class="cards-container">
    <app-loading></app-loading>

    <div class="cards-list parking-info-container" [style.visibility]="parkingInfoVisibility()">
        
        <div class="parking-info-header">
            <div class="parking-info">
                <h1> {{ name }} </h1>

                <p> 
                    <img src="assets/location.png">
                    {{ city }}
                </p>

                <p>
                    <img src="assets/coins.png">
                    {{ cost | number }} Dh / hour
                </p>

                <p>
                    <img src="assets/parking-sign.png">
                    {{ places }} places
                </p>
            </div>            
            <div  echarts class="parking-places" [options]="parkingPlaceChartOption"></div>
        </div>
        
        <h2> Average daily reservations </h2>

        <div echarts [options]="reservationChartOption"></div>
    
        <button class="btn btn-positive button-reserve" [routerLink]="['/reservations/add/' + id]"> Reserve Now </button>
    </div>
</div>