<nav class="navbar "  [ngClass]="{
        'navbar-visible': visible
    }">
    <div class="navbar-container"> 
        <div class="navbar-title-container" [routerLink]="['/']">
            <img class="navbar-icon" src="assets/parking-icon.svg"/>
            <h1 class="navbar-title"> arking System </h1>
        </div>
    
        <div class="navbar-search-bar-container"> 
            <input class="navbar-search-bar" type="text" placeholder="search for parking lots"/>
        </div>
        
        <div class="navbar-account-container">
            <app-navbar-account/>
        </div>
    </div>
</nav>

